<div class="body">
    <h2 mat-dialog-title>Online Bookstore</h2>

    <mat-dialog-content>
        <p>
            This is a Java-based web application built with the Spring Boot framework, allowing users to explore a catalog of books and place orders.
            Users can create accounts, log in, and manage their cart. The application also includes an admin role, enabling administrators to add or remove books from the catalog.
        </p>

        <h6>Technical Skills</h6>
        <ul>
            <li>Java & Spring Boot: <span class="description-text">Developed a robust application utilizing Spring Boot, Spring MVC, and Spring Security frameworks.</span></li>
            <li>MVC Architecture: <span class="description-text">Designed and implemented the Model-View-Controller architecture for separation of concerns.</span></li>
            <li>Java Beans: <span class="description-text">Created and managed Java Beans to encapsulate business logic.</span></li>
            <li>Thymeleaf: <span class="description-text">Utilized Thymeleaf for server-side rendering of web pages.</span></li>
            <li>Database Management: <span class="description-text">Implemented H2 in-memory database with custom SQL queries for efficient data management.</span></li>
            <li>Security: <span class="description-text">Integrated role-based access control with Spring Security, custom UserDetailsService, and SecurityConfig.</span></li>
            <li>Spring Data JPA: <span class="description-text">Leveraged Spring Data JPA in controllers for streamlined database interactions.</span></li>
            <li>HTML & CSS: <span class="description-text">Designed and structured web content using HTML and CSS for a user-friendly interface.</span></li>
        </ul>

        <h6>Soft Skills</h6>
        <ul>
            <li>Project Management: <span class="description-text">Successfully managed project timelines and deliverables.</span></li>
            <li>Adaptability: <span class="description-text">Quickly adapted to new technologies and frameworks as needed.</span></li>
        </ul>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <div class="github-link">
            <a href="https://github.com/Priyal-07/onlineBookStore.git" target="_blank">View on GitHub</a>
        </div>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>