<div class="body">
    <h2 mat-dialog-title>Online Bookstore</h2>

    <mat-dialog-content>
        <p>
            A Spring Boot web app for exploring, managing, and ordering from a catalog of books.
            Features user accounts, admin controls, and role-based access.
        </p>

        <h6>User Flow</h6>
        <ul>
            <li>Sign In & Sign Up: <span class="description-text">Users create an account or log in to existing one to access the bookstore.</span></li>
            <img src="../../assets/Project1/WelcomePage.png" alt="Sign in and Sign out page">
            <div class="description-text">New users provide their details, which are securely stored in the database. Existing users log in with authentication handled by Spring Security.</div>
        </ul>

        <h6>Tech Stack</h6>
        <ul>
            <li>Java and Spring Boot: <span class="description-text">Core backend framework.</span></li>
            <li>MVC Architecture: <span class="description-text">For separation of concerns.</span></li>
            <li>Java Beans: <span class="description-text">To encapsulate business logic.</span></li>        
            <li>Database Management: <span class="description-text">In-memory H2 database.</span></li>
            <li>Security: <span class="description-text">Role-based access control.</span></li>
            <li>Thymeleaf: <span class="description-text">Server-side rendering of web pages.</span></li>
            <li>HTML & CSS: <span class="description-text">To design and structure web page.</span></li>
        </ul>



    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <div class="github-link">
            <a href="https://github.com/Priyal-07/onlineBookStore.git" target="_blank">View on GitHub</a>
        </div>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>