<div class="contact-info">
    <div class="info-row">
      <div class="info-label">Email</div>
      <div class="info-value"><a href="mailto:gurpriyaljawanda987@gmail.com">gurpriyaljawanda987&#64;gmail.com</a></div>
    </div>
    <div class="info-row">
      <div class="info-label">LinkedIn</div>
      <div class="info-value"><a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn profile</a></div>
    </div>
    <div class="info-row">
      <div class="info-label">Resume</div>
      <div class="info-value"><a href="https://drive.google.com/file/d/1EbWlGY97m7aqpvGsMvy8rATIri2bgILJ/view?usp=sharing" target="_blank">Download Resume</a></div>
    </div>
    <div class="info-row">
      <div class="info-label">Location</div>
      <div class="info-value">Mississauga, Ontario</div>
    </div>
</div>
  