<app-header></app-header>

<div class="body">
  <app-contact-info></app-contact-info>

  <div class="tabs">
    <mat-tab-group class="custom-tab-group">
      <mat-tab label="About Me">
        <app-about-me></app-about-me>
      </mat-tab>
      <mat-tab label="Skills">
        <app-skills></app-skills>
      </mat-tab>
      <mat-tab label="Projects">
        <app-projects></app-projects>
      </mat-tab>
      <mat-tab label="Education">
        
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
