.body {
    /*background-color: #1C2738;*/
    padding: 40px;
}

.tabs {
    /*background-color: #1F3557;*/
    background-color: #e2e8f2;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);    
    margin: 0 auto; 
}




